.headline {
    color: darkred;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    text-align: center;
    
}

.small {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items:center;
 
}

header {
    box-shadow: 0px 5px 13px 2px;
    height:100px;
    display: flex;
    justify-content: center ;
    align-items: center;
}

body {

    margin: 0;
   
}

header a {
    margin-right: 16px; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    text-decoration: none;
}

a:hover {
    color: red;
}

.container {
    display: flex;
    justify-content: center;
    background-color: lightblue;
    margin-top: 100px;
    border: 1px solid   black;
}

.container a {
    background-color: beige;
    color:white;
    text-decoration: none;
    padding: 10px;
   
}

body {
    background-color: lightpink;
}

button {
    background-color: lightcoral;
    color:white;
    border: 1px;
    padding: 14px 28px;
    border-radius: 50px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: 500;
    transition: transform 0.2s ease, background-color 0.2s ease;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    box-shadow: 0px 5px 13px 2px;
}

button:hover {
    background-color: lightcyan;
    transform: translateY(-10px);
    color:red;
    box-shadow: 0px 5px 13px 2px;
}

button:active {
    transform: translateY(0);
}

.mimi {
  
    width:250px;
    height:400px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.mimi img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}